style.css

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}


body {
  background-color: Azure; /*for debugging*/
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: red; /*for debugging*/
  margin: 0 10;
  border-bottom: 1px solid black;
  justify-content: space-between;
}

.header .logo {
  color: MediumAquamarine;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-grow: 4;
  border-bottom: 1px solid black;
}

.header .logo p {
  align-items: center;
}

.logo img {
  margin-right: 10px;
  align-items: stretch;
}

.header .nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: underline;
  margin-right: 20px;
}

.header p {
  color: MediumAquamarine;
  display: flex;
  border-left: 2px solid MediumAquamarine;
  padding-left: 5px;
  width: inherit;
  flex-grow: 5;
}

/*main content*/

.content {
  display: flex;
  position: relative;
  justify-content: center;
  top: 71px;
  width: 100%;
  flex-direction: row;
  align-items: stretch;
  margin: 20px auto;
  border: 5px solid black;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  padding: 5px;
}

/* large column */
.large{
  width: 630px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: pink; /*for debugging*/
  margin: 0 25px;
}


.large h2,
.medium h2 {
  font-weight: bold;
}

.large h3 {
  border: 1px solid black;
}

.tuna h3 {
  display: inline-flex;
  background-image: url(./images/img-story-main.png);
  height: 160px;
  align-content: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.orca {
  border: 2px solid black;
  flex-grow: 1;
  min-width: 100px;
  flex-basis: 0px;
}

.orca h3 {
  display: inline-flex;
  flex-grow: 1;
  min-width: 100px;
  flex-basis: 0px;
  background-image: url(./images/img-story-2.png);
  height: 300px;
  width: 300px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.burger {
  border: 2px solid black;
  flex-grow: 1;
  min-width: 100px;
  flex-basis: 0px;
}

.burger h3 {
  display: inline-flex;
  flex-grow: 1;
  min-width: 100px;
  flex-basis: 0px;
  background-image: url(./images/img-story-3.png);
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

/*edit this - currently not working + rename */
.jordan {
  display:inline-flex;
  flex-direction: row;
  min-width: 100%;
  flex-wrap:nowrap;
  background-color: gold;
  margin: 0 auto;
}


/*medioum column*/

.medium {
  display: flex;
  max-width:300px;
  border: 1px solid black; /*for debugging*/

  margin: 0 25px;
  flex-direction: column;
  background-color: green; /*for debugging*/
  align-items: flex-start;
}

.cats {
  border: 2px solid black;
}

.cats h3 {
  display: flex;
  background-image: url(./images/img-story-1.png);
  height: 300px;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

h3 {
  align-items: center;
}


/*Small Column*/

.small {
  width: 240px;
  border: 3px solid black;
  margin: 0 25px;
  display: flex;
  flex-direction: column;
  background-color: blue; /*for debugging*/
}

h4 {
  margin: 0 auto;
  text-align: center;
  height: 40px;
  padding-bottom: 10px;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
}

.sidebar {
  display: block;
  background-color: grey;
  border-bottom: 2px solid black;

}

.sidebar .bite {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}
